

body {
    background-color: greenyellow;
}

#cont2:hover {
    background-color: blue
}
img {
    width: 100%;


}

      #container1 {
        width: 940px;
        margin: 10px auto;
        padding: 20px;
        border: 1px solid #bcbcbc;
      }
      #cont2 {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #bcbcbc;
      }
      #cont3 {
        width: 580px;
        padding: 20px;
        margin-bottom: 20px;
        float: left;
        border: 1px solid #bcbcbc;
      }
      #cont4 {
        width: 260px;
        padding: 20px;
        margin-bottom: 20px;
        float: right;
        border: 1px solid #bcbcbc;
      }
      #cont5 {
        clear: both;
        padding: 20px;
        border: 1px solid #bcbcbc;
      }
      #hello {

        font-size: 20vw;
      }
      @media ( max-width: 480px ) {
        #container1 {
          width: auto;
        }
        #cont3 {
          float: none;
          width: auto;
        }
        #cont4 {
          float: none;
          width: auto;
        }
      }